.user-cart {
   max-width: 320px;
   min-width: 275px;
   min-height: 300px;
   margin: 5px;
   border: 1px solid #3f51b5;
}

.edit-icon {
   cursor: pointer;
   bottom: 0;
}
.delete-icon {
   cursor: pointer;
   margin-top: 20px;
   margin-left: 50px;
}
